html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    /* Dark mode colors and gradient */
    background: #121212;
    /* Fallback for browsers that don't support gradients */
    background: linear-gradient(135deg,
            #121212 25%,
            #1a1a1a 25%,
            #1a1a1a 50%,
            #121212 50%,
            #121212 75%,
            #1a1a1a 75%,
            #1a1a1a);
    background-size: 40px 40px;

    --bg-light: #707070;
    --bg-mid: #505050;
    --bg-dark: #212121;
    --bg-nav: #333;
    --clr-accent: #58bc82;
    --clr-text: white;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 750px;
    min-height: 750px;
}


/* Navigation */
nav {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: var(--bg-nav);
    align-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul li {
    padding: 14px 15px;
    color: var(--clr-text);
    float: left;
    border: none;
    border-radius: 15px;
    min-width: 80px;
    text-align: center;
}

nav>ul>li {
    display: inline-block;
    text-align: center;
}

.nav-r {
    float: right;
}

nav>ul li:hover {
    background-color: var(--clr-accent);
    border: none;
    border-radius: 15px;
}

nav>ul li>ul {
    display: none
}

nav>ul li:hover>ul {
    display: block;
    position: absolute;
    background-color: var(--bg-nav);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 14px -16px;
    min-width: 5%;
    text-align: left;
    z-index: 1;
}

.dropbtn {
    width: 190px;
}

.dropbtn ul {
    border: none;
    width: 220px;
    border-radius: 15px;
}

.dropbtn ul li {
    width: 190px;
    text-align: center;
}

nav ul li:active {
    background-color: var(--bg-light);
}

nav ul a {
    text-decoration: none;
}

nav #signout li:hover {
    background-color: red;

}

/* Flash Messages */
#messages {
    position: fixed;
    top: 80px;
    left: 20px;
    z-index: 1;
}

.flash-success,
.flash-danger,
.flash-warning,
.flash-info {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
}

.flash-success {
    --clr-success: #339900;
    background: var(--clr-success);
}

.flash-danger {
    --clr-danger: #cc3300;
    background: var(--clr-danger);
}

.flash-warning {
    --clr-warning: #ff9966;
    background: var(--clr-warning);
}

.flash-info {
    --clr-info: #00c8ff;
    background: var(--clr-info);
}

.flash_icon_container {
    width: 30px;
    height: 30px;
    transform: translateY(-2px);
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}


.flash_icon-success::after {
    content: "\2713";
    color: var(--clr-text);
    font-size: 20px;
    justify-content: center;
}

.flash_icon-danger::after {
    content: "\26A0";
    color: var(--clr-text);
    font-size: 20px;
    justify-content: center;
}

.flash_icon-warning::after {
    content: "\26A0";
    color: var(--clr-text);
    font-size: 20px;
    justify-content: center;
}

.flash_icon-info::after {
    content: "\2139";
    color: var(--clr-text);
    font-size: 20px;
    justify-content: center;
}

.flash_message {
    font-weight: 500;
    font-size: 15px;
    color: var(--clr-text);
}

.flash_close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.flash_close path {
    fill: var(--clr-text);
}


/* Formulare */
.form {
    margin: 0 auto;
    padding: 2rem 3rem;
    background: #212121;
    border-radius: 1rem;


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--clr-accent);
}

.form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input#username,
.form input[type="password"],
.form input[type="email"],
.form select,
.form .select-selected {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--bg-mid);
    outline: 2px solid var(--bg-light);
    color: var(--clr-text);
}

.form input#username:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form select:focus,
.form .select-selected:focus {
    outline: 2px solid var(--clr-accent);
}

.form input.no-match,
.form input.no-match:focus {
    outline: 2px solid red;
}

.label {
    align-self: flex-start;
    color: var(--clr-accent);
    font-weight: 600;
}

.form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-light);
    color: var(--clr-text);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
}

.form button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form .submit:hover {
    background-color: var(--clr-accent);
}

.form .cancel {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-light);
    color: var(--clr-text);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
}

.form .cancel:hover {
    background-color: red;
}

.span {
    text-decoration: none;
    color: var(--bg-light);
}

.span a {
    color: var(--clr-accent);
}

/* selectbox */
.custom-select select {
    width: 100%;
    display: none;
}

.custom-select {
    position: relative;
    font-family: Arial;
    margin-bottom: 2rem;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 24px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: white transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 16px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: var(--clr-text);
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    background-color: var(--bg-mid);
}

/* Style items (options): */
.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--clr-accent);
    outline: 2px solid var(--clr-accent);
    color: var(--clr-text);
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


/* BEP */

.bep-header {
    width: 100%;
    padding: 1rem 0rem;
    background: var(--bg-dark);
    color: var(--clr-accent);
    text-align: center;
}

.bep-settings {
    width: 100%;
    background: var(--clr-accent);
}

.bep-form {
    background: #212121;
}

.bep-form input[type="text"],
.bep-form input[type="number"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--bg-mid);
    outline: 2px solid var(--bg-light);
    color: var(--clr-text);
}


.bep-form input[type=number]::-webkit-inner-spin-button,
.bep-form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bep-form input[type="number"] {
    text-align: center;
    -moz-appearance: textfield;
}

.bep-form input[type="range"] {
    -webkit-appearance: none;
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    border: none;
    gap: 0.5rem;
    background: transparent;
    outline: 2px solid var(--bg-light);
}

/* WebKit (Chrome, Safari, Edge) */
.bep-form input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--clr-accent);
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  margin-top: -7px; /* Zentriert den Thumb vertikal */
}

/* Firefox */
.bep-form input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--clr-accent);
  cursor: pointer;
  border: none;
}

/* Track in Firefox */
.bep-form input[type=range]::-moz-range-track {
  height: 6px;
  background: var(--bg-mid);
  border-radius: 5px;
}

/* Track in Chrome/Safari */
.bep-form input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  background: var(--bg-mid);
  border-radius: 5px;
  
}

.bep-form #bep-controls {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
    padding: 1rem;
}

.bep-form .bep-control-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bep-form .bep-graph {
    width: 100%;
    height: 500px;
    background: var(--clr-accent);
}

.bep-form .submit {
    margin: 0 auto;
    padding: 1rem 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-light);
    color: var(--clr-text);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
}

.bep-form button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bep-form .submit:hover {
    background-color: var(--clr-accent);
}


/* Tabellen */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

th {
    height: 50px;
    background-color: var(--bg-dark);
    color: var(--clr-accent);
}

td {
    text-align: center;
}

tr {
    width: 100%;
    background-color: var(--bg-light);
    color: var(--clr-text);
}

tr:nth-child(even) {
    background-color: var(--bg-mid);
}

th,
td {
    padding: 7px;
}

#ak {
    width: 180px;
    min-width: 180px;

}

/* Buttons der Benutzerliste  */
#buttons_users {
    margin-top: 10px;
    display: flex;
    border-radius: 10px;
}

.btn_users {
    border: 1px solid var(--bg-nav);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--bg-nav);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-accent);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    margin-right: 5px;
}

.btn_users:hover {
    transition-duration: .3s;
    background-color: var(--clr-accent);
    align-items: center;
    color: var(--clr-text);
}

#btn_new::after {
    content: "\002B";
    font-size: 20px;
}

#btn_new:hover::after {
    content: "Neuer User";
    font-size: 15px;
}

#btn_refresh::after {
    content: "\27f3";
    font-size: 20px;
}

#btn_refresh:hover::after {
    content: "Refresh";
    font-size: 15px;
}

#btn_new:hover::after,
#btn_refresh:hover::after {
    color: var(--clr-text);
}

/* Buttons zum bearbeiten der Benutzer */
.btnedit {
    content: \270E;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--bg-nav);
    border: none;
    font-weight: 600;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
    color: var(--clr-accent);
    margin-right: 10px;
    text-decoration: none;
}

.btnedit:hover {
    transition-duration: .3s;
    background-color: #ffa500;
    align-items: center;
}

.btnedit::after {
    content: "\270E";
    font-size: 20px;
}

.btnedit:hover::after {
    content: "";
}

.btnedit::before {
    position: absolute;
    top: -13px;
    content: "Edit";
    color: var(--clr-text);
    transition-duration: .3s;
    font-size: 2px;
}

.btnedit:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}

#btndelete {
    content: "\1F5D1";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--bg-nav);
    border: none;
    font-weight: 600;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
    color: var(--clr-accent);
    text-decoration: none;
    margin-right: 10px;
}

#btndelete:hover {
    transition-duration: .3s;
    background-color: red;
    align-items: center;
}

#btndelete::after {
    content: "\1F5D1";
    font-size: 20px;
}

#btndelete:hover::after {
    content: "";
}

#btndelete::before {
    position: absolute;
    top: -13px;
    content: "Delete";
    color: var(--clr-text);
    transition-duration: .3s;
    font-size: 2px;
}

#btndelete:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}

#btn_reset {
    content: \21ba;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--bg-nav);
    border: none;
    font-weight: 600;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
    color: var(--clr-accent);
    margin-right: 10px;
    text-decoration: none;
}

#btn_reset:hover {
    transition-duration: .3s;
    background-color: red;
    align-items: center;
}

#btn_reset::after {
    content: "\21ba";
    font-size: 20px;
}

#btn_reset:hover::after {
    content: "";
}

#btn_reset::before {
    position: absolute;
    top: -13px;
    content: "Reset";
    color: var(--clr-text);
    transition-duration: .3s;
    font-size: 2px;
}

#btn_reset:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}


/* Profile Page */

.settings-container {
    margin: 0 auto;
    padding: 2rem 3rem;
    background: var(--bg-dark);
    border-radius: 1rem;

    max-width: 500px;
    background: var(--bg-dark);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--clr-text);
}

.settings-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--clr-accent);
}

.setting-item {
    margin-bottom: 20px;
}

.setting-item label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: var(--clr-accent);
}

.setting-item .value {
    display: inline-block;
    margin-right: 10px;
}

.edit-input {
    display: none;
    padding: 8px;
    margin-right: 10px;
    width: 80%;
}

.edit-btn {
    padding: 6px 10px;
    margin-top: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--clr-accent);
    color: var(--clr-text);
}