{% extends "base.html"%}
{% block content %}
<br><br>

<form action="#" method="POST" class="form" id="change-password-form">
    <span class="input-span">
        <label for="old_password" class="label">Altes Passwort:</label>
        <input id="old_password" name="old_password" value="" type="password" title="Geben Sie ihr altes Passwort ein."
            required oninvalid="this.setCustomValidity('Bitte geben Sie ihr altes Passwort ein.')"
            oninput="this.setCustomValidity('')" autofocus />
    </span>
    <span class="input-span">
        <label for="new_password" class="label">Neues Passwort:</label>
        <input id="new_password" name="new_password" value="" type="password"
            title="Geben Sie ein neues Passwort mit mindestens {{ min_length }} Zeichen ein." required
            oninvalid="this.setCustomValidity('Bitte geben Sie ein neues Passwort mit mindestens {{ min_length }} Zeichen ein.')"
            oninput="this.setCustomValidity('')" />
    </span>
    <span class="input-span">
        <label for="confirm_password" class="label">Password Wiederholung:</label>
        <input id="confirm_password" name="confirm_password" value="" type="password"
            title="Wiederholen Sie ihr neues Passwort zur Kontrolle." required
            oninvalid="this.setCustomValidity('Die Passwörter stimmen nicht überein.')"
            oninput="this.setCustomValidity('')" />
    </span>
    <button class="submit" id="confirm" name="submit" value="submit">Neues Password speichern</button>
    <button class="cancel" id="cancel" name="submit" value="cancel" formnovalidate>Abbruch</button>
</form>
{% endblock %}